#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  transition: all 0.5s ease;

  /*
  animation: 1s shrink 1 forwards;
  */
}

button:hover {
  transform: scale(1.5);
}

/*
button:hover {
  animation: 1s grow 1 forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}
*/
